body {
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

h1, h2 {
    text-shadow: .2em .2em .3em gray;
    text-align: center;
}

footer {
    font-size: smaller;
    font-style: italic;
}

.video {
    text-align: center;
}

.featuredImage {
    text-align: center;
}

li {
    list-style: none;
    margin: 0;
    padding: 10px 0 10px 48px;
    background-image: url('images/NormPrint.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px;
    /*  This was tricky but worth it: custom SVG bullets!     */
}

.table {
    text-align: center;
    width: 100%;
 
}

table.greyGridTable {
    border: 2px solid #FFFFFF;
    margin: 40px 0 40px 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;

  }
  table.greyGridTable tbody td {
    font-size: 13px;
  }
  table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
  }
  table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
  }
  table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
  }
  table.greyGridTable thead th:first-child {
    border-left: none;
  }
  
  table.greyGridTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
  }
  table.greyGridTable tfoot td {
    font-size: 14px;
  }

  caption {
      font-style: italic;
  }